body{
    background:black;
}
#header{
    background:black;
    color:white;
}

.btn{
    background: blue;
    color: white;
}

.btn:hover{
    background: rgb(45, 45, 214)
}

.hour{
    background: gray;
    color: black;
    text-align:center;
}

.row{
    padding: 20px;
}

.past{
    background:red;
    color:white
}

.future{
    background: white;
}